body {
  font-family: 'Franklin Gothic Medium', 'san-serif';
  background-color: brown;
  color: rgb(236, 227, 211);
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

nav li {
  color: black;
  display: inline;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: coral;
  text-align: center;
  border-radius: 20px;
}

nav a {
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(218, 102, 60);
}

.selected {
  background-color: rgb(247, 155, 122);
}

h1 {
  text-align: center;
  font-size: 5em;
}

h3 {
  font-weight: lighter;
  margin-bottom: 2em;
}

ul#list li {
  list-style-type: none;
  text-align: center;
}

img {
  width: 190px;
  height: 270px;
  border-radius: 100px;
}

#list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.flashy {
  font-style: italic;
  color: #FFFF80;
}

.best {
  background-color: #DD8855;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 50px;
}

h2 {
  text-align: center;
  font-size: 2.2em;
}

p {
  text-align: center;
  font-size: 1.1em;
}

